@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

body{
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
}
h2{
    font-weight: bolder;
}
.btn{
    font-weight: bolder;
    padding: 8px 16px;
    /**geen border tenzij kleur wordt aangesproken**/
    border: 1px solid transparent;
    border-radius: 8px;
    text-decoration: none;
}
.btn--primary{
    color: rgba(238,238,238 ,1);
    background: rgba(1,87,155 ,1);
}
.btn--primary:hover{
    background: rgba(2,136,209 ,1);
}
.btn--secundary{
    color: rgba(238,238,238 ,1);
    background: rgba(0,77,64 ,1);
    margin-left: 20px;
    margin-right: 20px;
}
.btn--secundary:hover{
    background: rgba(0,137,123 ,1);
}
/**spookknop**/
.btn--tertairy{
    color: rgba(46,125,50 ,1);
    border-color: rgba(46,125,50 ,1);
}
.btn--tertairy:hover{
    border-color: rgba(76,175,80 ,1);
    color: rgba(76,175,80 ,1)
}